<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Projects</title>
</head>
<body>
    <h1>Projects</h1>
    <a href="{{ url_for('add_project_route') }}">Add Project</a>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
        </tr>
        {% for project in projects %}
        <tr>
            <td>{{ project[0] }}</td>
            <td>{{ project[1] }}</td>
            <td>{{ project[2] }}</td>
        </tr>
        {% endfor %}
    </table>
    <a href="{{ url_for('index') }}">Back</a>
</body>
</html>
