<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tareas</title>
</head>
<body>
    <h1>Tasks</h1>
    <a href="{{ url_for('add_task_route') }}">Add Task</a>
    <table>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Description</th>
            <th>Project ID</th>
            <th>User ID</th>
            <th>Due Date</th>
        </tr>
        {% for task in tasks %}
        <tr>
            <td>{{ task[0] }}</td>
            <td>{{ task[1] }}</td>
            <td>{{ task[2] }}</td>
            <td>{{ task[3] }}</td>
            <td>{{ task[4] }}</td>
            <td>{{ task[5] }}</td>
        </tr>
        {% endfor %}
    </table>
    <a href="{{ url_for('index') }}">Back</a>
</body>
</html>
